		
body {
	font-family: "Roboto";
}

h1 {
	font-family:"Cherry Cream Soda", cursive;
	word-spacing:2px;
	letter-spacing: 2px;
	font-size: 32px;
}

h2 {
	font-family: 'Raleway Dots'
}



#wrapper {
	width: 700px;
	margin: 0 auto;
}

 
 #websites li a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 18px;
	font-family: "Roboto";
}

.instance {
	font-size: 10px
}